$color-turquoise: #01EBD0
$color-title: #000

$font-main: 'MyriadPro', Arial, sans-serif
$font-semi: 'BrownPro', Arial, sans-serif

// Responsive
$mobile: 350px
$tablet: 768px
$desktop: 1200px
$desktop-xl: 1920px

/*************** RESPONSIVE **********************/
@mixin mobile
  @media screen and (min-width: #{$mobile})
    @content

@mixin tablet
  @media screen and (min-width: #{$tablet})
    @content

@mixin desktop
  @media screen and (min-width: #{$desktop})
    @content

@mixin desktopXL
  @media screen and (min-width: #{$desktop-xl})
    @content
